@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-surface-main text-text-main font-body antialiased;
}

a {
  @apply transition-colors;
}